<div class="row red darken-4 valign-wrapper" id="title-bar">
    <div class="col s4">
        <img class="valign" src="src/img/icon.png" height="24" width="24" alt="">
    </div>
    <div class="col s4">
        <div class="center-align white-text">
            Pomodoro Desktop
        </div>
    </div>
    <div class="col s4">
        <a class="window-action valign white-text right" id="close-btn" ng-click="vmTitleBar.closeWindow()">
            &times;
        </a>
        <a class="window-action valign white-text right" id="minimize-btn" ng-click="vmTitleBar.minimizeWindow()">
            _
        </a>
    </div>
</div>